a {
    color:#606770;
}

#Menu { 
    float: left;
    font-weight: 450;
    font-size: 15px;
    line-height: 45px;
    padding: 20px;
    padding-top: 0;
    margin: 0;
    list-style-type: none;
    width: 250px;
    height: 100vh;
    overflow: scroll;
    position: relative;
}

#Menu ul  {
    padding-left: 30px;
    padding-right: 20px;
    width: 220px;
    line-height: normal;
    list-style-type: none;
}

#Menu ul li{
    padding-bottom: 15px;
}

.selected {
    color: #09d3ac;
}

.active {
    color: #09d3ac;
    background-color: rgb(220, 243, 239);
}

.none {
    display: none;
}

