nav {
    width: 250px;
}
#Menu { 
    float: left;
    font-weight: 450;
    font-size: 15px;
    line-height: 45px;
    padding: 20px;
}


#Menu nav {
    padding-left: 30px;
    padding-right: 20px;
    width: 200px;
    line-height: normal;
}

#Menu nav div {
    padding-bottom: 10px;
}

a {
    color:#606770;
}

.selected {
    color: #09d3ac;
}

.none {
    display: none;
}

